# eclipse specific git ignore
.metadata/
RemoteSystemsTempFiles/
.settings/
Debug/
*.launch

# STM32 git ignore
*.mxproject

# Altium git ignore
/Custom PCBs/*/__Previews
/Custom PCBs/*/History
/Custom PCBs/Load Cell ADC Module/Project Logs for Load Cell ADC Module

/Custom PCBs/I2C UART Buffer Module/Project Logs for I2C UART Buffer Module
